{% extends 'base.html.twig' %}

{% block title %} Noueau pointage {% endblock %}

{% block body %}

    <h1> Nouveau Pointage </h1>
    
    {{ form(formAddPointage) }}
    {{log}}
    
{% endblock %}
